<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>App Fragments</title>
</head>
<body>

	<ul th:fragment="nav-common"
		class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
		id="accordionSidebar">
		<a
			class="sidebar-brand d-flex align-items-center justify-content-center"
			th:href="@{/user/dashboard}">
			<div class="sidebar-brand-icon rotate-n-15">
				<i class="fas fa-laugh-wink"></i>
			</div>
				<div class="sidebar-brand-text mx-3" sec:authorize="hasRole('ROLE_ADMIN')">Admin</div>
				<div class="sidebar-brand-text mx-3" sec:authorize="hasRole('ROLE_USER')">User</div>
		</a>

		<!-- Divider -->
		<hr class="sidebar-divider my-0">

		<!-- Nav Item - Dashboard -->
		<li class="nav-item active"><a class="nav-link"
			th:href="@{/user/dashboard}"> <i
				class="fas fa-fw fa-tachometer-alt"></i> <span>Dashboard</span>
		</a></li>

		<!-- Divider -->
		<hr class="sidebar-divider">

		<!-- Heading -->
		<div class="sidebar-heading">Interface</div>

		<!-- Nav Item - Pages Collapse Menu -->
		<sec:authorize access="isAuthenticated()">
			<div sec:authorize="hasRole('ROLE_ADMIN')">
				<li class="nav-item"><a class="nav-link collapsed" href="#"
					data-toggle="collapse" data-target="#collapseTwo"
					aria-expanded="true" aria-controls="collapseTwo"> <i
						class="fas fa-fw fa-cog"></i> <span>Manage Account</span>
				</a>
					<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
						data-parent="#accordionSidebar">
						<div class="bg-white py-2 collapse-inner rounded">
							<a class="collapse-item" th:href="@{/admin/show-account}">Show
								Accounts</a> <a class="collapse-item"
								th:href="@{/admin/add-account}">Create Account</a>
						</div>
					</div></li>
			</div>
			<div sec:authorize="hasRole('ROLE_USER')">
				<li class="nav-item"><a class="nav-link" th:href="@{/user/uploadFile}">
						<i class="fas fas fa-fw fa fa-upload fa-sm fa-fw mr-2 text-gray-400"></i>
						<span>Upload File</span>
				</a></li>
			</div>
			<li class="nav-item"><a class="nav-link" th:href="@{/download}">
					<i class="fas fa-download fa-sm fa-fw mr-2 text-gray-400"></i>
					<span>Download File</span>
			</a></li>
			<li class="nav-item"><a class="nav-link" th:href="@{/sign-out}">
					<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
					<span>Sign out</span>
			</a></li>
		</sec:authorize>

		<hr class="sidebar-divider d-none d-md-block">

		<!-- Sidebar Toggler (Sidebar) -->
		<div class="text-center d-none d-md-inline">
			<button class="rounded-circle border-0" id="sidebarToggle"></button>
		</div>
	</ul>

</body>
</html>